<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8' />
  <title>Ruby</title>
  <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body class="container">
  <h1>Кредитний калькулятор</h1>
  <%= yield %>

</body>
</html>